In [5]:
import streamlit as st
import pandas as pd
import altair as alt
import plotly.express as px
import numpy as np
import datetime

In [7]:
df_form_SQL = pd.read_csv('datafromSQL.csv')
df_form_SQL

,START_DATETIME,PRODUCTION_NO,FORMULA_CODE,FORMULA_DATE,MACHINE_NO,SAMPLING_MACHINE_NO,PRODUCTION_DATE,BATCH_NO,MOISTURE,CP,FAT,FIBER,DENSITY
0,2/18/2024 22:05,601194523,32CA00G,28/08/2023,EXT6,DryerA10,2/18/2024,282,7.02,21.85,9.05,0,0
1,2/18/2024 22:15,601194523,32CA00G,28/08/2023,EXT6,DryerA10,2/18/2024,283,7.71,21.77,8.11,0,0
2,2/18/2024 22:28,601194523,32CA00G,28/08/2023,EXT6,DryerA10,2/18/2024,284,7.10,21.82,7.69,0,0
3,2/18/2024 22:28,601194523,32CA00G,28/08/2023,EXT6,DryerA10,2/18/2024,284,7.10,21.82,7.69,0,0
4,2/18/2024 22:42,601194523,32CA00G,28/08/2023,EXT6,DryerA10,2/18/2024,285,7.31,21.94,7.86,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73296,9/23/2024 16:58,603212842,32CA00G,28/08/2023,EXT6,CoolerA11,9/23/2024,22,7.18,23.40,11.44,0,0
73297,9/23/2024 17:00,603212842,32CA00G,28/08/2023,EXT6,CoolerA11,9/23/2024,22,7.18,23.40,11.44,0,0
73298,9/23/2024 17:08,603212842,32CA00G,28/08/2023,EXT6,CoolerA11,9/23/2024,22,7.18,23.40,11.44,0,0
73299,9/23/2024 17:10,603212842,32CA00G,28/08/2023,EXT6,CoolerA11,9/23/2024,22,7.18,23.40,11.44,0,0
73300,9/23/2024 17:12,603212842,32CA00G,28/08/2023,EXT6,CoolerA11,9/23/2024,22,7.18,23.40,11.44,0,0

In [10]:
df_form_SQL['START_DATETIME'] = pd.to_datetime(df_form_SQL['START_DATETIME'])
df_form_SQL['START_DATETIME']

0       2024-02-18 22:05:00
1       2024-02-18 22:15:00
2       2024-02-18 22:28:00
3       2024-02-18 22:28:00
4       2024-02-18 22:42:00
                ...
73296   2024-09-23 16:58:00
73297   2024-09-23 17:00:00
73298   2024-09-23 17:08:00
73299   2024-09-23 17:10:00
73300   2024-09-23 17:12:00
Name: START_DATETIME, Length: 73301, dtype: datetime64[ns]